:root {
  --color-one: #163d96;
  --color-two: #f8f1f1;
  --color-three: #4F46A3;
  --color-four: #a5a5a5;
  --color-five: #0033ab;
  --color-six: #000000;
  --font-one: Rubik;
  --font-two: Mulish;
}

* {
  box-sizing: border-box;
  font-family: var(--font-one);
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/***************** HEADER ********************/
header {
  display: flex;
  height: 4em;
  width: 100%;
  padding: 10px;
  align-items: end;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--color-three);
  color: var(--color-two);
  border-bottom: 1px solid var(--color-two);
}

header img {
  width: 44px;
  flex: 0.5;
}

header span {
  display: flex;
  flex: 2;
  padding: 0 1em;
  font-size: 1em;
  font-weight: 500;
  text-wrap: balance;
  margin-right: 1em;
}

.hamburger {
  position: absolute;
  bottom: 10%;
  flex: 1;
  right: 10px;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-two);
  opacity: 0.5;
  cursor: pointer;
}

.hamburger::before {
  content: '\2630';
}

.hamburger.show::before {
  content: '\00d7';
}

nav {
  display: none;
  width: 50%;
}

nav.show {
  display: block;
  position: absolute;
  top: 2.7em;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  align-items: stretch;
  width: 100%;
}

nav ul li {
  width: 100%;
  list-style-type: none;
  background-color: var(--color-two);
  color: var(--color-six);

}

nav ul li a {
  width: 100%;
  color: var(--color-six);
  text-decoration: none;
  display: block;
  padding: 0.75em;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: var(--color-four);
  color: var(--color-six);
}

.current {
  background-color: var(--color-three);
  color: var(--color-two);
}

/***************** MAIN ********************/
main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 4em 0 0 0;
  width: 100%;
}

main h2 {
  text-align: center;
}

/***************** INDEX ******************/
.hero-div {
  width: 100%;
  position: relative;
}

.hero {
  width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
}

.call-to-actionbtn {
  width: 70%;
  padding: 0.5em 0;
  cursor: pointer;
  background-color: var(--color-three);
  border: none;
  border-radius: 6px;
  color: var(--color-two);
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0.75em;
  left: 3em;
  z-index: 100;
}

.current-events-section,
.current-weather-section,
.forecast-weather-section {
  background-color: var(--color-three);
  color: var(--color-two);
  border-radius: 6px;
  padding: 1em;
  height: 200px;
  margin: 0 10px 1em 10px;
  text-wrap: balance;
  box-shadow: 0 0 6px var(--color-one);
}

figure {
  margin: 0;
  width: 100%;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotlight-section {
  background: none;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0 10px;
  margin-bottom: 2em;
}

.spotlight {
  width: 100%;
  color: var(--color-two);
  background-color: var(--color-three);
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 10px;
  box-shadow: 0 0 6px var(--color-one);
  display: flex;
  flex-direction: column;
}

.spotlight .business-name {
  font-size: 1.5em;
}

.spotlight img {
  width: 100%;
}

/************** DIRECTORY *****************/
.layout-choice-section {
  display: none;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px;
}

.card {
  display: grid;
  grid-template-columns: 120px 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  width: 100%;
  margin: 1em 0;
  background-color: var(--color-three);
  color: var(--color-two);
  border-radius: 6px;
  padding: 0 10px;
  box-shadow: 0 0 6px var(--color-one);
}

.business-name,
.slogan {
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
}

.business-name {
  font-size: 1em;
}

.card .slogan {
  font-size: 0.8em;
  word-break: break-word;
  border-bottom: 1px solid var(--color-two);
  padding-bottom: 2.5em;
}

.card span {
  padding: 0;
  height: 2em;
}

.logo {
  grid-row: 3 / 6;
}

.company-info {
  grid-column: 2 / 3;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
  word-break: break-word;
  color: var(--color-two);
}

.website {
  text-decoration: underline;
}


/***************** FOOTER ********************/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: var(--color-three);
  color: var(--color-two);
  font-size: 0.8em;
}

.footer-left,
.footer-middle,
.footer-right {
  width: 100%;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

.social-icon {
  width: 50px;
  height: 50px;
  background-color: var(--color-two);
  border-radius: 100px;
  padding: 6px;
}