@media only screen and (min-width: 38rem) {

  main,
  nav,
  footer {
    margin: 0 auto;
  }

  header {
    justify-content: start;
    align-items: start;
    padding: 6px;
  }

  header img {
    width: 44px;
    height: 100%;
  }

  header span {
    flex: 3;
    height: 100%;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  nav {
    display: block;
    flex-direction: row;
    flex: 2;
    width: 100%;
    position: static;
    padding: 0;
    height: 100%;
    border-right: 1px solid var(--color-two);
  }

  nav ul {
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
  }

  nav ul a {
    text-decoration: none;
    width: 100%;
    color: var(--color-two);
    border-left: 1px solid var(--color-two);
    height: 100%;
  }

  nav ul li {
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  /* MAIN */

  main {
    flex: 1;
    display: block;
    align-items: stretch;
    column-gap: 1em;
    margin: 4em 0 0 0;
  }

  main h1 {
    display: inline-block;
    margin-left: 6px;
  }

  .layout-button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: var(--color-two);
  display: inline-block;
  border-radius: 4px;
  color: var(--color-one);
  }

  .layout-button::before {
    content: '\2630';
    font-size: 2em;
  }

  .layout-button.column::before {
    content: '\1392\1392\1392';
    font-size: 2em;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    width: 100%;
    padding: 6px;
  }

  .card {
    display: grid;
    grid-template-columns: 120px 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    width: 100%;
    margin: 1em 0;
    background-color: var(--color-three);
    color: var(--color-two);
    border-radius: 6px;
    padding: 0 10px;
    box-shadow: 0 0 10px #000;
  }

  .cards.column {
    display: flex;
    flex-direction: column;
  }

  .card .column {
    grid-template-columns: 1fr 1fr;
  }

  .business-name,
  .slogan {
    width: 100%;
    grid-column: 1 / -1;
    text-align: center;
  }

  .business-name {
    font-size: 1em;
  }

  .card .slogan {
    font-size: 0.8em;
    word-break: break-word;
    border-bottom: 1px solid var(--color-two);
    padding-bottom: 2.5em;
  }

  .card span {
    padding: 0;
    height: 2em;
  }

  .logo {
    grid-row: 3 / 6;
  }

  .company-info {
    grid-column: 2 / 3;
    align-items: center;
    font-size: 0.8em;
    width: 100%;
    word-break: break-word;
    color: var(--color-two);
  }

  .website {
    text-decoration: underline;
  }

  /* FOOTER */
  footer {
    flex-direction: row;
    justify-content: start;
    font-size: 1em;
    line-height: 0;
  }

  .footer-left,
  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    height: 100%;
  }

  .footer-left p,
  .footer-right p {
    width: 75%;
  }
}