:root {
  --color-one: #163d96;
  --color-two: #f8f1f1;
  --color-three: #4F46A3;
  --color-four: #a5a5a5;
  --color-five: #0033ab;
  --color-six: #000000;
  --font-one: Rubik;
  --font-two: Mulish;
}

* {
  box-sizing: border-box;
  font-family: var(--font-one);
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 10px;
}

/***************** HEADER ********************/

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  column-gap: 8px;
  align-items: end;
  padding: 5px 0px 5px 10px;
  background-color: var(--color-two);
}

.hamburger {
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  position: relative;
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}

nav {
  display: none;
  position: absolute;
  right: 0;
  top: 2em;
  align-items: center;
  border: 1px solid var(--color-three);
  border-bottom: none;
}

nav.show {
  display: block;
  display: flex;
  flex-direction: column;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation a {
  display: block;
  text-decoration: none;
  padding: 0.8em 10px;
  color: var(--color-one);
  border-bottom: 1px solid var(--color-three);
}

.navigation li.current a {
  background-color: var(--color-three);
  color: var(--color-two);
}

.navigation li {
  background-color: var(--color-two);
  font-weight: 700;
}

.navigation li:not(.current) a:hover {
  background-color: var(--color-four);
  color: var(--color-five);
}

/***************** MAIN ********************/
main {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
  background-color: var(--color-four);
  width: 100%;
  padding: 0.25em 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section p {
  width: 100%;
  padding: 6px;
  text-align: left;
}

.section1,
.section2 {
  background-color: var(--color-three);
  color: var(--color-two);
}

.section1 {
  margin-bottom: 2em;
}

.section1 h2,
.section2 h2 {
  margin-bottom: 0;
  color: var(--color-six);
  margin: 0;
}

.section2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section img {
  width: 100%;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3 h2 {
  width: 100%;
}

.section3 .course-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

section button {
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  width: 25%;
  font-weight: bold;
}

.section3 p {
  text-align: center;
  font-size: 0.8em;
}

.course-list-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  column-gap: 1em;
  row-gap: 1em;
  padding: 0 1em;
  width: 100%;
}

.section3 .course {
  border-radius: 8px;
}

.cse-course {
  background-color: var(--color-five);
  color: var(--color-two);
}

.wdd-course {
  background-color: var(--color-four);
  color: var(--color-six);
}

/***************** FOOTER ********************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.social-media-link {
  width: 44px;
}

.social-media-icon {
  width: 100%;
  height: 100%;
}

.footer-social {
  width: 50%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.footer-info {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  background-color: var(--color-three);
  color: var(--color-two);
  width: 100%;
  text-wrap: wrap;
}