:root {
  --light-blue: #009cde;
  --light-blue-rgb: rgb(0, 156, 222);
  --darker-blue: #004f71;
  --darker-blue-rgb: rgb(0, 79, 113);
  --font-1: Rubik, sans-serif;
  --required: #940016;
}

* {
  font-family: var(--font-1);
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 0;
  margin: 0 auto;
}

button,
.button {
  cursor: pointer;
  height: 44px;
  min-width: 44px;
}

.required {
  color: var(--required);
}

header {
  display: flex;
  min-height: 4em;
  background-color: var(--light-blue);
  color: #fff;
  align-items: center;
}

.header-logo {
  width: 44px;
  margin-right: 10px;
}

header span {
  font-size: 1em;
  font-weight: 600;
}

.hamburger {
  position: absolute;
  right: 1em;
  height: 44px;
  width: 44px;
}

.hamburger::before {
  content: '\2630';
  font-size: 2em;
}

.hamburger.show::before {
  content: '\00d7';
}

.navigation {
  display: none;
  width: 60%;
  transition: 1s;
  animation-name: menuIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes menuIn {
  0% {
    right: -10em;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

.navigation.show {
  display: flex;
  position: absolute;
  border: 1px solid var(--darker-blue);
  top: 3.5em;
  right: 0;
  height: auto;
  background-color: var(--darker-blue);
  z-index: 100;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  padding: 0;
  flex: 1;
  margin: 0;
}

.navigation li {
  display: flex;
  width: 100%;
}

.navigation li:hover {
  background-color: var(--light-blue);
}

.navigation li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.current {
  background-color: var(--light-blue);
  text-decoration: underline;
  font-size: 1.4em;
}

.hero-div {
  position: relative;
}

.hero {
  width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
}

.ctaBtn {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
  border-radius: 6px;
  font-weight: 600;
  padding: 0 10px;
  position: absolute;
  bottom: 10px;
  left: 15%;
  transition: 0.3s;
  color: black;
  text-decoration: none;
}

.ctaBtn:hover {
  background-color: var(--darker-blue);
  color: white;
}

.main-home {
  display: flex;
  flex-direction: column;
}

main h1 {
  text-wrap: balance;
  text-align: center;
}

.main-home h2 {
  margin-left: 1em;
}

.display-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.display-buttons button {
  width: 32%;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.card {
  outline: 4px solid var(--darker-blue);
  border-radius: 2px;
  padding: 8px;
  margin: 1em 10px;
}

/************* NEWSLETTER *************/
.main-newsletter,
.main-thankyou {
  padding: 0 10px;
}
.newsletter-p {
  margin: 0 auto;
  text-align: left;
}

form {
  margin: 1em 0;
  display: grid;
  row-gap: 1em;
}

form .button {
  font-weight: 600;
  font-size: 1.5em;
  width: 60%;
  margin: 0 auto;
}

fieldset {
  display: grid;
  line-height: 2;
}

legend {
  font-size: 1.1em;
}

.preference-title {
  font-weight: 600;
}

.personal-info-fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.personal-info-fieldset input {
  height: 44px;
  font-size: 1.2em;
  width: 100%;
}

/************* FOOTER **************/
footer {
  background-color: var(--light-blue);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px;
  text-align: left;
}

.footer-left,
.footer-middle,
.footer-right {
  display: grid;
  align-items: center;
  color: black;
  width: 100%;
}

.footer-middle p {
  font-size: 1.1em;
}

footer div p {
  font-weight: 700;
  font-size: 1.3em;
}

footer a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 30%;
  height: 44px;
  text-align: left;
  font-weight: 600;
  font-size: 1em;
}

.main-attributions {
  flex: 5;
}